<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="ajaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding"/>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="MyBinding" textEncoding="utf-8"/>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Sample.Service1"
               behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address=""
                  binding="webHttpBinding"
                  bindingConfiguration="webBinding"
                  behaviorConfiguration="ajaxBehavior"
                  contract="Sample.Service1"/>
      </service>
      <!-- Добавляем вторую серверную службу - для приема данных от С#-клиента -->
      <service name="Sample.Service2">
        <endpoint
          address=""
          binding="basicHttpBinding"
          contract="IService2"
        />
      </service>
    </services>
  </system.serviceModel>
</configuration>